.fahrenheit,
.fahrenheit:hover {
  display: inline-block;
  position: relative;
  bottom: 5px;
  right: 25px;
  color: #fff;
}

.celsius,
.celsius:hover {
  color: #fff;
}

.active {
  font-weight: 900;
}

a {
  text-decoration: none;
}
