.city-details {
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  text-align: right;
  position: relative;
  top: 22px;
}

.icon {
  display: inline-block;
  position: relative;
  bottom: -4px;
}

.main-description {
  font-size: 13px;
  text-align: right;
  text-transform: capitalize;
  line-height: 15px;
}

.main-time {
  font-size: 13px;
  text-align: right;
  text-transform: capitalize;
  line-height: 18px;
  padding-top: 5px;
}

.main-temp {
  font-size: 55px;
  font-weight: 700;
  margin-left: 5px;
  text-align: left;
}

.main-details {
  font-size: 13px;
  text-align: left;
  line-height: 15px;
  position: relative;
  left: -25px;
}

.row {
  margin: 40px auto;
}

.unit {
  position: relative;
  top: -25px;
  left: -4px;
}

ul {
  display: inline-block;
}

li {
  list-style: none;
}
